

img{
    height: 200px;
    width: 200px;
}

.color-title {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 10px;
}

#red{
    color: red;
}

#blue{
    color: blue;
}

#orange{
    color: orange;
}

#green{
    color: green;
}

#yellow{
    color: yellow;
}