html{
    background-color: black;
}

#meme {
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-left: 25%;
    width: 50%;
}

#meme-image {
    width: 100%;
    border: 5px solid white;
}

h1{
    text-transform: uppercase;
    font-size: 3rem;
}

p{
    font-family: "Libre Baskerville", serif;
}